<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lockmedia.applock" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"
        tools:ignore="ScopedStorage" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:icon="@drawable/photo_wallet"
        android:label="@string/app_name"
        android:roundIcon="@drawable/photo_wallet"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".main.ui.MainActivity"
            android:configChanges="orientation|screenSize" /> <!-- STEALTH LAUNCHER: Replaces main launcher and starts the phone app -->
        <!-- SEND LAUNCHER: Receives photos and videos as send to -->
        <activity-alias
            android:name=".SendLauncher"
            android:exported="true"
            android:targetActivity=".main.ui.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" />
            </intent-filter>
        </activity-alias> <!-- MAIN LAUNCHER: Starts the app -->
        <activity-alias
            android:name=".MainLauncher"
            android:exported="true"
            android:targetActivity=".main.ui.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".forwarddialer.ForwardDialerActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".recoverymenu.RecoveryMenuActivity"
            android:theme="@style/AppTheme" />

        <receiver
            android:name=".DialLauncher"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.provider.Telephony.SECRET_CODE" />

                <data android:scheme="android_secret_code" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/app_id"/>
    </application>

</manifest>